mat-toolbar {
    background-color: aliceblue;
    color: black;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.2), 0px 2px 4px -1px rgba(0, 0, 0, 0.12);
}

.mat-icon-button {
    background-color: transparent;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 0.5em 1em;
    margin: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}