.recipe-overview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mat-card-overview-results {
    position: fixed;
    top: 6%;
    right: 1%;
    z-index: 1000;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}